.heart{
   width: 20px;
        height: 20px;
        position: fixed;
        pointer-events: none;
        transform: translate(-40%, -10%);
        transition: transform 0.1s ease, width 0.1s ease, height 0.1s ease;
        z-index: 1000;
}
@font-face {
  font-family: 'myfont';
  src: local('mysans'), url(./fonts/mysans.ttf) format('truetype');
}
@font-face {
  font-family: 'LostTumbler';
  src: local('LostTumbler'), url(./fonts/LostTumbler.otf) format('opentype');
}
@font-face {
  font-family: 'footerBig';
  src: local('JosefinSans'), url(./fonts/JosefinSans.ttf) format('truetype');
}
@font-face {
  font-family: calmfont;
 src: local('OddlyCalmingRegular'), url(./fonts/OddlyCalmingRegular-7B89V.ttf) format('truetype');
}
.calmfont{
    font-family: calmfont, Arial, serif;
    font-weight: black;
}

.modal-title {
    font-family: LostTumbler, Arial, serif;
    font-weight: black;
}
.myfont {
    font-family: myfont, Arial, serif;
    font-weight: black;
}
.footerBig {
    font-family: footerBig, Arial, serif;
    font-weight: black;
}

/*
Source - https://stackoverflow.com/a
Posted by bookcasey
Retrieved 2025-12-31, License - CC BY-SA 3.0
*/

.string{
  -webkit-transform-origin:50% 0%;
  -webkit-animation: rotate 2s infinite ease-in-out;
}

@-webkit-keyframes rotate {
  0% {
        -webkit-transform: rotate(-15deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
    }

    100% {
        -webkit-transform: rotate(-15deg);
    }
}
