@import "tailwindcss"; 


body{
   margin: 0;
  padding: 0;
  overflow-x: hidden;
  
 
}




#oneko {
  /* This forces the browser to slide the cat smoothly between points */
  transition: top 0.2s linear, left 0.2s linear !important;
  background-color: transparent !important;
  z-index: 9999 !important;
}






.bg-mine{
  background: #000;
  background-image: radial-gradient(#ffffff33,1px,#00091d,1px);
  background-size: 20px 20px;
}
.bg-skill{
  background: #102546;
}

