@import "tailwindcss"; 


body{
   margin: 0;
  padding: 0;
  overflow-x: hidden;
  
 
}
.bg-mine{
  background: #000;
  background-image: radial-gradient(#ffffff33,1px,#00091d,1px);
  background-size: 20px 20px;
}
.bg-skill{
  background: #102546;
}

